/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.background {
  display: flex;
  height: 70vh;
  background-image: cover;
  background-size: cover;
  background-color: white;
  text-align: center;
  align-items: justify;
  color: white;
}

.gadget-index {
  margin-top: 0px;
}

.card {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
  // box-shadow: 3px 3px 3px #888888;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border-radius: 5px;
  text-decoration: none;
}

.card:hover{
  opacity: 0.6;
}

.description {
  position: relative;
  top: 10px;
  right: 10px;
}

.card-price {
  position: absolute;
  top: 3px;
  right: 3px;
  margin-right: 5px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.card-description h2 {
  font-size: 25px;
  margin: 0px;
}

.card-description h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin: 0px
}

.card-description h5 {
  font-size: 15px;
  margin-top: px;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    background-color: #F5F5F5;
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none !important;

    }
  }
}



// non-related styling:
.carousel {
  background: #333333;
  color: black;

.glyphicon-chevron-left {
  margin-left: 0px;
  margin-top: 10px;
}
.glyphicon-chevron-right {
  margin-right: 0px;
  margin-top: 10px;
}
}

h3{
  color: #CCCCCC;
  font-size: 1.25em;
  text-align: left;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

#map {
  margin-bottom: 10px;
  margin-top: 25px;
}
