/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.background {
  display: flex;
  height: 100vh;
  background-image: cover;
  background-size: cover;
  background-color: black;
  text-align: center;
  align-items: justify;
  color: white;
}

