.container{
    border: #DCDDDD 2px solid;
    width: 500px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

 }
