.review-form{

  border: grey solid 2px;
  padding: 30px;
  background-color: #F5F5F5;
  width: 500px;
  margin-top: 30px;

}
  .review-box{
  border-style: groove;


  margin-bottom: 10px;

}


.index-review{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgrey;
}
.review-button{
  text-decoration: none;
color: white;
margin-left: 5px;
}

