
  .review-box{
  border-style: groove;


  margin-bottom: 10px;
}


.index-review{
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-button{
  text-decoration: none;
color: white;
margin-left: 5px;
}
