.table {
  margin-bottom: 0px;
  border-top: 0px;
}

.card-gadget {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-booking p {
  font-weight: light;
  font-size: 13px;
}

.book {
  margin-top: 40px;
  margin-bottom: 5px;
}

body {
 border-top: 0px solid #ddd;
}
