<form action="/equipments" method="/get">

<div class="wrapper">
  <div class="container text-center">
    <div class="filters">
        <div class="row">

        </div>
        </div>
        </div>
        </div>

