<div id="footer">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <ul class="list-inline">
       <li>
        <a href>
         <i class="fa fa-youtube fa-2x"></i>
        </a>
       </li>
        <li>
          <a href>
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </li>
        <li>
          <a href>
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </li>
        <li>
          <a href>
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class=row>
      <div class="col-xs-4 text-left">
        <h2 id="line-bar">Docurentary</h2>
          <p>Who we are?</p>
          <p>How does it work?</p>
    </div>
      <div class="col-xs-4 text-left">
        <h2 id="line-bar">Discover</h2>
          <p>Popular gear</p>
          <p>Success stories</p>
      </div>
      <div class="col-xs-4 text-left">
        <h2 id="line-bar">Renting</h2>
          <p>Why Rent your gear?</p>
          <p>£ Calculator</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1><strong>Stay up to date! Join our newsletter :</strong></h1>
        <h1><strong>E-mail form - Change!</strong></h1>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center">
        <p>Logo 2017 Docurentary Inc.</p>
      </div>
   </div>
 </div>
</div>
