
<div class="banner">
  <div class="banner-content text-center">
    <div class="container">
      <h1>Docurentary</h1>
      <p>Rent creative tech equipment and capture your story through your eyes</p>
      <div class="row">
        <div class="col-xs-12">
         <form action="/gadgets">
          <div class="form-search form-inline">
            <select class="form-control" name="category" placeholder="Category">
              <option value=" " disabled selected> Type of equipment:</option>
              <option>camera</option>
              <option>drone</option>
              <option>projector</option>
              <option></option>
            <input type="text" placeholder="City" class="form-control" name="location">
            <input type="submit" value="Search" class="navbar-wagon-item navbar-wagon-button btn">
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>



