// Your footer style
#footer {
    background: #EDEFF0;
    padding: 35px 0 25px 0;
    color: #333333;
    h1 {
      font-size: 18px;
    }
        h2 {
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
}

#footer p {
  margin-top: 5px;
}


#footer .fa {
  color: #333333;
}

#footer .fa:hover {
  color: #4B4126;
}

#line-bar {
  border-top: 2px solid #333333;
  padding-top: 5px;
}

#legal-info {
  margin-top: 25px;
}

#footer-btn {
  font-style: italic;
  color: #4B4126;
}

#footer-email {
  font-style: italic;
  color: #4B4126;
}
