        <div class="tabs">
          <a class="tab active" data-target="#description">
            <h3>Description</h3>
          </a>
          <a class="tab" data-target="#reviews">
           <h3>Reviews</h3>
          </a>
        </div>
