  <div class="container">
    <div class="row">
      <% @gadgets.each do |gadget| %>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="grey-card hvr-grow-rotate" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url(''), height: 300, width: 600, crop: :fill %>')">
        <div class="grey-card-content">
          <h3><%= gadget.model %></h3>
          <p>------------------</p>
        </div>
        <%= link_to "", gadget, class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>

