.container {
  flex-direction: row;
}


.description {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.booking {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 50px;
  padding: 0px 30px;
}

.price {
  color: #333333;
}

.item-booking {
  font-weight: bold;
  font-size: 20px;
}

.btn-primary {
  background-color: #B10712;
  border-color: #B10712;
}

.btn-primary:hover {
  background-color: #B10712;
  border-color: #B10712;
 opacity: 0.8;
}
